body
  background-color: darkgrey
  max-width: 1000px
  margin:
    left: auto
    right: auto
    top: 5px

main
  background-color: lightgrey
  border-radius: 5px
  padding:
    top: 5px
    bottom: 5px
    left: 5px
    right: 5px

.footer
  margin:
    top: 45px
    left: 5px
    right: 5px
  padding:
    top: 5px
    bottom: 5px

  border-top: 1px solid #eaeaea
  color: grey
  a
    color: grey
    &:hover
      color: grey
  small
    float: left
  ul
    float: right
    list-style: none
    li
      float: left
      margin-left: 10px