$main-width: 1000px
$head-background-color: #222
$head-text-color: #9d9d9d
$footer-text-color: #9d9d9d

html
  overflow-y: scroll

body.main
  width: 100%
  background:
    color: #f7f7f7
    image: image-url('background.gif')
  padding:
    top: 60px
    bottom: 35px

  .alert-block
    max-width: $main-width
    margin:
      left: auto
      right: auto

header
  .inner-header
    max-width: $main-width
    margin:
      left: auto
      right: auto

    .header-crest
      margin:
        top: -10px
        bottom: -10px

    .header-avatar
      margin:
        top: -13px
        bottom: -13px

main
  max-width: $main-width
  background-color: #ffffff
  overflow: hidden
  margin:
    left: auto
    right: auto

  .content-box
    width: 70%
    float: left
    margin:
      top: 6px
      left: 6px
      bottom: 6px
      right: 3px
    padding: 5px

  .content-box-mobile
    width: 98%
    margin:
      top: 6px
      bottom: 6px
      left: auto
      right: auto
    padding: 5px

  .right-box
    width: 28%
    float: left
    margin:
      top: 6px
      right: 6px
      bottom: 6px
      left: 3px
    padding: 5px
    .info-box
      width: 100%
    .partner-box
      width: 100%

  .head
    background-color: $head-background-color
    padding: 10px
    margin:
      left: -5px
      right: -5px
      bottom: 10px
    color: $head-text-color
    a
      color: $head-text-color
      &:hover
        color: $head-text-color
    .btn
      color: #000

footer
  .inner-footer
    max-width: $main-width
    margin:
      left: auto
      right: auto
    max-height: 25px
    padding: 5px
    font-size: 8pt
    color: $footer-text-color
    a
      color: $footer-text-color
      &:hover
        color: $footer-text-color

.left
  float: left
.right
  float: right

.clear
  clear: both

.no-border
  border: 0
  box-shadow: none

.vertsep5px
  height: 5px

.vertsep10px
  height: 10px

.vertsep15px
  height: 15px

.horisep5px
  padding: 5px

.horisep10px
  padding: 10px

.horisep15px
  padding: 15px

.horisep20px
  padding: 20px
