// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teams
  .row-team-class
    width: 40%
    a
      color: inherit
  .row-team-edit
    width: 20%
    a
      color: inherit
  .row-team-name
    width: 40%
    a
      color: inherit
