.clear

%footer
  .left
    VfB Oxstedt v.1950 e.V.
  .right
    %span= link_to "Hilfe", help_path
    \|
    %span= link_to "Kontakt", contact_path
    \|
    %span= link_to "Impressum", notice_path
  .clear
